/* index.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: No;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 34px;
    color: Blue;
    font-family: "Montez", cursive;

}

.subheading {
    font-size: 16px;
    color: Black;
    text-align: left; /* Align the text to the left */
    margin-top: 0; /* Remove any default margin */
    margin-bottom: 0;

}

.signup-btn{
color:White;
background-color: Blue;
    padding: 10px 20px;

}

.signin-btn{
color:White;
background-color: Blue;
    padding: 10px 20px;

}
.all-posts-btn,
.create-post-btn {
    background-color: Yellow;
    color: Black;
    border: 5x;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-btn:hover,
.signin-btn:hover,
.all-posts-btn:hover,
.create-post-btn:hover {
    background-color: #0056b3;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    width: 400px;
    max-width: 80%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
}

.close:hover {
    color: #555;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #0056b3;
}

.modal-content p {
    margin-top: 10px;
    text-align: center;
}

.modal-content a {
    color: #007bff;
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}

body {
    background: url('../images/background.jpg');
   background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the background */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    height: 100vh; /* Set body height to 100% of viewport height */
}
